<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/public/app.css">
        <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/lib/datepicker/datepicker.css">
        <script src="/public/lib/jquery-3.3.1.min.js"></script>
        <script src="/public/lib/datepicker/datepicker.js"></script>
    </head>

    <body>
        <div class="app-container">
            <h1 class="app-title">Currency Converter</h1>
            <div class="app-content">
                <%= content %>
            </div>
        </div>
    </body>

</html>